/**********************************************************************
 * Rofi - Theme colours
 *********************************************************************/

* {
{%- for c in colors_hex %}
  c{{ '{:02}'.format(loop.index0) }}: #{{ c }};
{%- endfor %}
}
