/**********************************************************************
 * Rofi - Theme colours
 *********************************************************************/

* {
{%- for c in color %}
  c{{ '{:02}'.format(loop.index0) }}: #{{ c.hex }};
{%- endfor %}
}
