[Unit]
Description=Newsboat Feed Updater

[Service]
Type=oneshot
ExecStart=newsboat -x reload

NoNewPrivileges=yes
ProtectSystem=full
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
