/**********************************************************************
 * Fern's Dotfiles -- Rofi Launcher
 * https://github.com/fernzi/dotfiles
 *********************************************************************/

configuration {
	modi: "drun,run,filebrowser,window";

	/* Appearance */
	dpi: 0;
	font: "HarmonyOS Sans, 11";
	show-icons: true;
	icon-theme: "Papirus";

	run, drun {
		fallback-icon: "application-x-executable";
	}
}

@theme "themes/modern"
