/******************************************************************************
 * Rofi Launcher
 *****************************************************************************/

configuration {
  modi: "drun,run,window";
  dpi: 0;
  lines: 8;
  columns: 2;
  display-window: "";
  display-windowcd: "";
  display-run: "";
  display-ssh: "";
  display-drun: "";
  display-combi: "";
}

@theme "themes/modern"
