/**********************************************************************
 * Rofi - Theme colours
 *********************************************************************/

* {
  c00: #202020;
  c01: #303030;
  c02: #404040;
  c03: #525252;
  c04: #C6C6C6;
  c05: #D4D4D4;
  c06: #E2E2E2;
  c07: #F0F0F0;
  c08: #FFAED0;
  c09: #FFB099;
  c10: #F6CE88;
  c11: #B0E0AD;
  c12: #94D1CE;
  c13: #9EDCFF;
  c14: #D0BCFE;
  c15: #909090;
}
